*{
    border: 0;
    padding: 0;
    border: 1px solid red;
    box-sizing: border-box;
}
.container{
    /* display: block;
    justify-content: center;
    align-content: center; */
    margin: 12rem;
}
.input-container{
    width: 650px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.input-box label{
    width: 90%;
}